{% extends 'main_app/base.html' %}
{% load staticfiles %}
{% block listing %}
    {% include 'main_app/index_slider.html' %}
    {% include 'main_app/index_aboutus.html' %}
    {% include 'main_app/index_services.html' %}
    {% include 'main_app/index_team.html' %}
    {% include 'main_app/index_workingwithus.html' %}
    {% include 'main_app/index_projects.html' %}
    {% include 'main_app/index_team_testimonials.html' %}
    {% include 'main_app/index_news.html' %}
    {% include 'main_app/index_subscribe.html' %}
    {% include 'main_app/index_contacts.html' %}
{% endblock %}