
{%load staticfiles%}
<main id="main"></main>
    {% if aboutus %}
    {% for au in aboutus %}
        <!-- ======= About Section ======= -->
        <div id="about" class="about-area area-padding">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                  <h2>About {{au.companyName}}</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- single-well start-->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                  <div class="single-well">
                    <a href="#">
                      <img src="{% static "assets/img/about/1.jpg" %}" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <!-- single-well end-->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                  <div class="single-well">
                    <a href="#">
                      <h4 class="sec-head">{{au.content}}</h4>
                    </a>
                    <p>
                      {{ au.para }}
                    </p>
                    <ul>
                      {% if au.checklist1 == "-" %}
    
                      {% else %}
                      <li>
                        <i class="fa fa-check"></i> {{au.checklist1}}
                      </li>
                      {% endif %}
                      {% if au.checklist2 == "-" %}
    
                      {% else %}
                      <li>
                        <i class="fa fa-check"></i> {{au.checklist2}}
                      </li>
                      {% endif %}
                      {% if au.checklist3 == "-" %}
    
                      {% else %}
                      <li>
                        <i class="fa fa-check"></i> {{au.checklist3}}
                      </li>
                      {% endif %}
                      {% if au.checklist4 == "-" %}
    
                      {% else %}
                      <li>
                        <i class="fa fa-check"></i> {{au.checklist4}}
                      </li>
                      {% endif %}
                      {% if au.checklist5 == "-" %}
    
                      {% else %}
                      <li>
                        <i class="fa fa-check"></i> {{au.checklist5}}
                      </li>
                      {% endif %}
                      {% if au.checklist6 == "-" %}
    
                      {% else %}
                      <li>
                        <i class="fa fa-check"></i> {{au.checklist6}}
                      </li>
                      {% endif %}
                      {% if au.checklist7 == "-" %}
    
                      {% else %}
                      <li>
                        <i class="fa fa-check"></i> {{au.checklist7}}
                      </li>
                      {% endif %}
                      {% if au.checklist8 == "-" %}
    
                      {% else %}
                      <li>
                        <i class="fa fa-check"></i> {{au.checklist8}}
                      </li>
                      {% endif %}
                      
                    </ul>
                  </div>
                </div>
              </div>
              <!-- End col-->
            </div>
          </div>
        </div><!-- End About Section -->
    {% endfor %}
    {% endif %}
    